# Build

# Compiled
[Dd]ebug/
[Bb]in/
[Bb]uild/
run/
*.com
*.class

# Project
.vs/
.vscode/
.settings/
.gradle/
.idea/
.classpath
.project
.checkstyle
.externalToolBuilders
.nb-gradle
gradlew
gradlew.bat
*.iml
*.launch
*.number

eclipse
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.ipr
*.iws
